SITE_URL=http://127.0.0.1:8000
SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
TELEGRAM_BOT_TOKEN=123456789:AAExampleRealBotFatherToken
TELEGRAM_BOT_USERNAME=sizning_bot_username
TELEGRAM_CONTACT_USERNAME=sizning_username
